#sidebar.row
  #rightHome.large-4.columns
    .leftUpperPanel
      #userProfile

      #newTweet
        = form_for Swit.new do |f|
          .field
            = f.text_area :swit, class: 'larg-12 columns', :placeholder => 'Write new swit...', :rows => 5
          .actions
            = f.submit 'Swit', class: 'button tiny'
    .leftLowerPanel
      #trends
        %h2 Trending Topics

  #leftHome.large-8.columns
    #newsfeed
      %h1 Newsfeed

      = link_to 'New Swit', new_swit_path

      - @swits.each do |swit|
        %h3= swit.username
        = swit.swit
        %h6
          Sweet: 
          = swit.sweet_count
          Sour:
          = swit.sour_count
          = link_to 'Show', swit
          = link_to 'Comment', new_comment_path(swit.username)
          = link_to 'Edit', edit_swit_path(swit)
          = link_to 'Delete', swit, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %br

  
