#sidebar.row
  #rightHome.large-4.columns
    .leftUpperPanel
      #userProfile
        %h2.text-center Welcome MM!

      #newTweet
        = form_for Swit.new do |f|
          .field
            = f.text_area :swit, class: 'larg-12 columns', :placeholder => 'Write new swit...', :rows => 5
          .actions
            = f.submit 'Swit', class: 'button tiny'
    .leftLowerPanel
      #trends
        %h3 Trending Topics

  #leftHome.large-8.columns
    #newsfeed
      %h2.text-center Newsfeed
      - @swits.reverse.each do |swit|
        %h3= swit.swit
        %h6
          Posted by 
          = swit.username
          on
          = swit.created_at 
        Sweet: 
        = swit.sweet_count
        Sour:
        = swit.sour_count
        = link_to 'Show', swit
        = link_to 'Sweet', sweetswit_swits_path(id: swit.id)
        = link_to 'Sour', sourswit_swits_path(id: swit.id)
        = link_to 'Comment', new_comment_path(swit.username)
        = link_to 'Edit', edit_swit_path(swit)
        = link_to 'Delete', swit, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %br
        %hr

  
