%h1 Listing swits

= link_to 'New Swit', new_swit_path

- @swits.each do |swit|
  %h3= swit.username
  = swit.swit
  %h6
    Sweet: 
    = swit.sweet_count
    Sour:
    = swit.sour_count
    = link_to 'Show', swit
    = link_to 'Comment', new_comment_path(swit.username)
    = link_to 'Edit', edit_swit_path(swit)
    = link_to 'Delete', swit, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br