#thread.large-7.columns
  #switbox
    %h3.swittext 
      = @swit.swit
    %h6.datetime
      Posted by
      = @swit.username
      on
      = @swit.created_at
    .sweetsour
      Sweet:
      = @swit.sweet_count

      Sour: 
      = @swit.sour_count

    %dl.sub-nav
      %dd.active 
        = link_to 'Sweet', sweetswit_swits_path(id: @swit.id)
      %dd
        = link_to 'Sour', sourswit_swits_path(id: @swit.id)
      %dd
        = link_to 'Edit', edit_swit_path(@swit)
      %dd
        = link_to 'Delete', @swit, :method => :delete, :data => { :confirm => 'Are you sure?' }

  #commentBox
  %h5#titlebox
    Comments
  #commentThread
    -@comments.each do |comment|
      %h6.username
        = comment.username
      %p.comment 
        = comment.comment
      .datetime 
        Posted on 
        = comment.created_at
      %br
      %hr

#commentArea.large-7.columns
  = render 'form'

