%p#notice= notice

%p
  %b Comment:
  = @comment.comment
%p
  %b Username:
  = @comment.username
%p
  %b To swit:
  = @comment.to_swit_id

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
