%p#notice= notice

%p
  %b To user:
  = @comment.to_user
%p
  %b Username:
  = @comment.username
%p
  %b Swit:
  = @comment.swit
%p
  %b Sweet count:
  = @comment.sweet_count
%p
  %b Sour count:
  = @comment.sour_count

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
