%br
#banner
	%h1 Welcome to Switter!
	%h2
		%small 
			Express your insights. Discover something. See what's trending.

#signup
= form_for @user do |f|
	.field
		= f.label :username
		= f.text_field :username
	.field
		= f.label :password
		= f.text_field :password
	.actions
		= f.submit 'Sign up for Switter'